html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: #84BFB9;
  }
  
  aside {
    width: 300px;
    height: 400px;
    font-size: 18px;
    background-color: #191659;
    color: white;
    border-style: ridge;
    border-color: white;
    cursor: pointer;
  }
  
  a:hover {
    color: greenyellow;
  }
  
  a {
    background-color: #4682B4;
    color: #ADD8E6;
    border: 2px double #0000FF;
  }